body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 25px 0px 25px 0px;
}

table {
    width: 580px;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: rgb(252, 32, 32);
    color: rgb(255, 255, 255);
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightcoral;
}

.num {
    text-align: right;
}

.pos {
    text-align: center;
    width: 50px;
}