body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 580px;
    border-collapse: collapse;
}

thead, tfoot {
    background-color: rgb(252, 32, 32);
    color: rgb(255, 255, 255);
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.pos {
    width: 50px;
}

