@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    height: 400px;
    border-collapse: collapse;
}

td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
}